@page "{Id:int?}"
@model DiplTrab1.Pages.Cafeteria.Categoria.EditarCategoriaModel
@{
    ViewData["Title"] = "EditarCategoria";
}

<h1>EditarCategoria</h1>

@section Scripts{
    <script src="~/Scripts/angular.js"></script>
    
 }