@page "{id:int}"
@model DiplTrab1.Pages.Estudiante.DeleteEstudianteModel

    <form method="post">
        Seguro que desea eliminar @Model.estudiante.NombreCompleto?
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>

