@page
@{
    ViewData["Title"] = "ErrorEstudiante";
}

<div class="card text-center">
    <div class="card-header">
        <h2 style="color:red">El estudiante no fue encontrada</h2>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer text-muted">
        <a asp-page="./EstudiantesReg" class="btn btn-primary">Volver al listado</a>
    </div>
</div>


