@page "{id:int?}"
@model DiplTrab1.Pages.Materias.DeleteMateriaModel

    <form method="post">
        Seguro que desea Eliminar @Model.materia.Nombre
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>

