@page
@{
    ViewData["Title"] = "Error Materia";
}

@*<h1>La materia que intenta buscar no fue encontrada</h1>*@
<div class="card text-center">
    <div class="card-header">
        <h2 style="color:red">La materia no fue encontrada</h2>
    </div>
    <div class="card-body">
        
    </div>
    <div class="card-footer text-muted">
        <a asp-page="./MateriasReg" class="btn btn-primary">Volver al listado</a>
    </div>
</div>

